<!-- include this -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
  <!-- include this -->

<!-- nav bar ok working on all pages--> 
  <div class="ui menu">
    <a href="/" class="item">Home</a>
    <a href="/products" class="item">Products</a>
    <div class="right menu">
      <%if(!currentUser){%>
      <div class="item">
        <a href="/register" class="ui primary button"><i class="address book icon"></i>Sign Up</a>
      </div>

      <div class="item">
        <a href="/login" class="ui primary button">Login</a>
      </div>
      <%} else {%>
      <div class="item active">
        <a href="users/<%=currentUser._id%>" class="ui button"><i class="user outline icon"></i><%=currentUser.username%></a>
      </div>
      <div class="item">
        <a href="/logout" class="ui primary button">Logout</a>
      </div>
      <%}%>

      <%if(currentUser && currentUser.isadmin){%>
      <div class="item">
        <div><a href="/admin" class="ui button">View Admin Page</a></div>
      </div>
    <%}%>
    </div>
  </div>  
<!-- nav bar -->
<h1>Welcome , <%=founduser.username%></h1>

<p>
    Your Products on sale:
    <%for(var i=0;i<founduser.productsonsale.length;i++){%>
    <div>
       
        <p>
            you have put up on sale <%=founduser.productsonsale[i].name%> for <%=founduser.productsonsale[i].price%> 
            <%if(founduser.productsonsale[i].isflagged){%>
            has been flagged by the admin
            <%}%>
            <a href="/products/<%=founduser.productsonsale[i]._id%>/edit">edit product</a>
        </p>
    </div>
    <%}%>
</p>
 Your purchased products:
    <%for(var i=0;i<founduser2.productsbought.length;i++){%>
    <div>
        <p>
            you bought <%=founduser2.productsbought[i].name%> for <%=founduser2.productsbought[i].price%> 
        </p>
    </div>
    <%}%>

<p>
    
</p>